.idea/
venv/
registration_file.pickle
test.py
auctionsystem/__pycache__/
auctionsystem/tcp/__pycache__/
auctionsystem/udp/__pycache__/
gui/__pycache__/
gui/test/__pycache__/
offers_file.pickle
server_Log.log
